html{
  background-color: black;
}

h3,h2,nav {
  font-family: Lato;
}


nav{
  text-align: center;
    border: solid;
    background-color: #c3423f;
    padding: 10px;
    display: flex;
justify-content: space-around;
height: 30px;
align-items: center;
}
 nav > a{
text-decoration: none;
color: white;
text-transform: uppercase;
background-color: black;
padding: 9px;
border-radius: 17px;
width: 150px;
 }

nav > a:hover{
background: white;
color:black;
}

footer{
  background-color: #f7b538;
    /* position: fixed; */
    bottom: 0px;
    /* width: 1900px; */
    left: 0px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #f7b538;
    padding: 9px;

    /* width: 124px; */
    margin-top: 40px;

}
footer img{
   width:45%;
   height: auto;
 }

 #lien_rs{
   width: 250px;
    display: flex;
    justify-content: space-around;
    margin-left:830px;
 }

.document-img {
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.img-doc {
  max-width: 700px;
  width: 500px;
  height: auto;
  transition: all 0.3s ease-out;
}

.img-doc:hover {
  opacity: 50%;
}

.DL-btn {
  position: absolute;
  margin-left: -343px;
  margin-top: 400px;
  font-size: 30px;
}

#btn-trad {
  width: 5%;
}
