.document-img {
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.img-doc {
  max-width: 700px;
  width: 500px;
  height: auto;
  transition: all 0.3s ease-out;
}

.img-doc:hover {
  opacity: 50%;
}

.DL-btn {
  position: absolute;
  margin-left: -343px;
  margin-top: 400px;
  font-size: 30px;
}
