table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  width: 95%;
}

td {
  border: 2px solid black;
}

#desc_expo {
  margin-top: 15px;
  font-family: Lato;
  background-color: #f7b538;
  text-align: center;
  font-size: 30px;
  width: 75%;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #c3423f;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#desc_expo a {
  text-transform: uppercase;
  text-decoration: none;
  color: #f7b538;
  background-color: #c3423f;
  padding: 15px 15px 15px 15px;
  border-radius: 40px;
  transition: all 0.5s;
}

#desc_expo a:hover {
  font-size: 25px;
  background-color: black;
  color: white;
}

.title-table {
  background-color: #820b8a;
  color: white;
  font-family: Lato;
  font-size: 25px;
  text-align: center;
}

.BG-img-table-DS {
  color: transparent;
  background-image: url(../images/DS-img-expo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all 0.4s ease-out;
}

.BG-img-table-DS:hover {
  background-color: black;
  opacity: 75%;
}

.BG-img-table-FF {
  color: transparent;
  background-image: url(../images/FF-img-expo.jpg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  transition: all 0.4s ease-out;
}

.BG-img-table-FF:hover {
  opacity: 60%;
}

.Ligne-pair {
  background-color: #c3423f;
}

.Ligne-impair {
  background-color: #f7b538;
}
