nav{
  text-align: center;
    border: solid;
    background-color: #c3423f;
    padding: 0.50%;
    display: flex;
justify-content: space-around;
height: 1.51%;
align-items: center;
}
 nav > a{
text-decoration: none;
color: white;
text-transform: uppercase;
background-color: black;
padding: 0.45%;
border-radius: 0.85%;
width: 6.26%;
 }

nav > a:hover{
background: white;
color:black;
}

.gif{
  margin-left: 0%;
  margin-top: -4%;
}
footer{
    background-color: #f7b538;
      /* position: fixed; */
      bottom: 0px;
      /* width: 1900px; */
      left: 0px;
      padding: 0.50%;
      margin-right: 0.50%;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      background-color: #f7b538;
      padding: 0.45%;

      /* width: 124px; */
      margin-top: 40px;
}


 #lien_rs{
   width: 12.62%;
    display: flex;
    justify-content: space-around;
    margin-left:41.91%;
 }

 #lien_rs img {
  width:45%;
height: auto;
}

.question{
  text-align: center;
  margin-right: -41%;
  margin-top: -25.59%;
}

.video{
  align-items: center;
  margin-left: 1.01%;
  margin-top: 0.50%;
}

.trait{
  align-items: center;
  /*width: 10px;*/
  margin-left: 25.25%;
  margin-top: -15.82%;
  max-width: 15.25%;
}

.trait img{
  max-width: 489px;
z-index: 8;
position: static;
margin-left: 43px;
}
@media (max-width:993px){
  .question {
    text-align: center;
    margin-right: -801px;
    margin-top: -487px;
    font-size: 15px;
    margin-left: 751px;
  }
  nav {
    margin-left: 233px;
    margin-right: -619px;
    align-items: center;
  }
  footer {
    margin-left: 222px;
    margin-right: -599px;
    margin-top: 371px;
  }
  #lien_rs {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-left: 554px;
  }
}
