nav{
  text-align: center;
    border: solid;
    background-color: #c3423f;
    padding: 10px;
    display: flex;
justify-content: space-around;
height: 30px;
align-items: center;
}
 nav > a{
text-decoration: none;
color: white;
text-transform: uppercase;
background-color: black;
padding: 9px;
border-radius: 17px;
width: 150px;
 }

nav > a:hover{
background: white;
color:black;
}

footer{
  background-color: #f7b538;
    /* position: fixed; */
    bottom: 0px;
    /* width: 1900px; */
    left: 0px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #f7b538;
    padding: 9px;

    /* width: 124px; */
    margin-top: 40px;

}
footer img{
   width:30px;
   height: auto;
 }

 #lien_rs{
   width: 250px;
    display: flex;
    justify-content: space-around;
    margin-left:830px;
 }

#diapo{
  border: solid;
  text-align: center;
  position: relative;
    width: 1280px;
    height: 720px;
    left: 300px;
    padding: 50px;

}

#image_diapo{
  z-index: 0;
  width: 1070px;
  height: 710px;
  position: absolute;
left: 150px;
}


#image_diapo > img{
  width: 1070px;
height: 710px;
position: inherit;
top: 0px;
left: 0px;


}
#fleche{
  position: absolute;
  bottom : 389px;
  z-index: 1;
  width: 1280px;
display: flex;
justify-content: space-between;

}

#fleche img{
  height: 50px;
}

#partenaire{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#partenaire img{
      width: 250px;
}

h3{
  text-align: center;
}

h2{
  text-align: center;
}
