* {
  font-family: Lato;
}

h3,h2,nav {
  font-family: Lato;
  color: white;
}
h2{
  background-color: #404040;
}
h2#partenaire.title{
  background-color: #404040;
}
html{
  background-color: black;
}

nav{
  text-align: center;
  border: solid;
  background-color: #c3423f;
  padding: 10px;
  display: flex;
justify-content: space-around;
height: 30px;
align-items: center;
}
 nav > a{
text-decoration: none;
color: white;
text-transform: uppercase;
background-color: black;
padding: 9px;
/*border-radius: 17px;*/
width: 150px;
 }

nav > a:hover{
background: white;
color:black;
}

footer {
  background-color: #404040;
  border: none;
}



 #lien_rs{
   width: 13%;
    display: flex;
    justify-content: space-around;
    margin-left:830px;
 }




#diapo{
  border: solid;
  text-align: center;
  position: relative;
    width: 66.9%;
    height: 720px;
    left: 300px;
    padding: 50px;
    background-color: white;
}

#image_diapo{
  z-index: 0;
  width:100%;
  height: auto;
  position: absolute;
left: 150px;
}


#image_diapo > img{
  width: 65%;
height: auto;
position: inherit;
top: 0px;
left: 0px;
z-index: 1;
display: nome;


}
#fleche{
  position: absolute;
  bottom : 389px;
  left : 0px;
  z-index: 1;
  width: 100%;
display: flex;
justify-content: space-between;

}

#fleche img{
  height: 50px;
}

#partenaire{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #404040;
}
#partenaire img{
      width: 6.7%;
}

h3{
  text-align: center;
}

h2{
  text-align: center;
}

#overlay{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height:100%;
  z-index: 3;
display: none;


}

#popup{
  margin: 20% auto;
      width: 65.1%;
      display: flex;
      position: relative;
      bottom: 300px;


}

#btnClose{
  font-size: 50px;
  position: absolute;
top: -30px;
right: -35px;
}

#imagepopup{
  width : 65.1%;
  margin : auto;
}

.Banner_FF {
  width: 98.1%;
}

@media (max-width:993px) {
  nav {
    margin-left: 228px;
    margin-right: -666px;
    align-items: center;
  }
  h3{
    margin-left: 200px;
    margin-right: -698px;
  }
  #diapo{
    margin-left: -55px;
  }
  footer {
    margin-left: 225px;
    margin-right: -661px;
    margin-top: 78px;
  }
  h2{
    margin-right: -698px;
    margin-left: 200px;
  }
  #partenaire{
    margin-right: -698px;
    margin-left: 200px;
  }
  #lien_rs{
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-left: 576px;
  }
}

#btn-trad {
  width: 5%;
}

.nav-footer {
  background-image: url(../images/trait-blanc.png);
  background-repeat: no-repeat;
  background-position: center left 853px;
  background-size: 2px 190px;
  background-color: #f7b538;
  height: auto;
  color: white;
  display: grid;
  text-align: left;
  max-width: 1857px;
  line-height: 20px;
  border:none;
}

.nav-footer a {
  border-radius: 0px;
  background-color: #f7b538;
}


.TW-footer {
  background-color: #00b6f1;
  font-size: 20px;
}

.TW-footer img {
  width: 25px;
}

.TW-footer a {
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.YT-footer {
  background-color: #ff0000;
  font-size: 20px;
}

.YT-footer img {
  width: 25px;
}

.YT-footer a {
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.FB-footer {
  background-color: #49659f;
  font-size: 20px;
}

.FB-footer img {
  width: 25px;
}

.FB-footer a {
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.IG-footer {
  background-color: #ff7800;
  font-size: 20px;
}

.IG-footer img {
  width: 25px;
}

.IG-footer a {
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;

.reseaux img {
  height: 50px;
}

.TW-footer {
  background-color: red;

}
