html {
  background-color: ;
}
form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 20.20%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 4,5%;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 4.54%; /* même taille que les étiquettes */
}

.btn {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}

.Maps{
  margin: 0 auto;
  padding: 1em;
  display: inline-block;
  text-align: right;
  margin-left: 31%;
}

.acces{
  text-align: center;
}

nav{
  text-align: center;
    border: solid;
    background-color: #c3423f;
    padding: 0,50%;
    display: flex;
justify-content: space-around;
height: 1.51%;
align-items: center;
}
 nav > a{
text-decoration: none;
color: white;
text-transform: uppercase;
background-color: black;
padding: 9px;
border-radius: 0,85%;
width: 6,26%;
 }

nav > a:hover{
background: white;
color:black;
}

footer{
  background-color: #f7b538;
    /* position: fixed; */
    bottom: 0px;
    /* width: 1900px; */
    left: 0px;
    padding: 0.51%;
    margin-right: 0.50%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #f7b538;
    padding: 0.45%;
    border-radius: 17px;
    /* width: 124px; */
    margin-top: 30.05%;
}
div img{
   width:1.51%;
   height: auto;
   margin-left: 0.50%;
   align-items: center;
 }

#lien_rs{
  width: 12,62%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 993px){
  nav {
    margin-left: 1.51%;
    margin-right: -8.83%;
    align-items: center;
  }
  h3{
    margin-left: 1.51%;
    margin-right: -9.8%;
    align-items: center;
  }
  .Maps{
    margin-left: 13,6%;
    margin-right: -11,46%;
    align-items: center;
  }
  .formulaire{
    margin-left: -0.25%;
    margin-right: -0.57%;
    align-items: center;
    margin-top: 0,95%;
  }
  footer {
    margin-left: 2,47%;
    margin-right: -8,13%;
    margin-top: 1,56%;
  }
  #lien_rs{
    width: 12.6%;
    display: flex;
    justify-content: space-around;
    margin-left: 19,74%;
  }
}
