* {
  font-family: Lato;
}

html {
  background-color:black ;
}

h3{
  color: white;
}
form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 20.20%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 4,5%;
  text-align: right;
  color: white;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;
  box-sizing: border-box;
  background-color: black;
  color: white;
  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
  background-color: black;
  color: white;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 4.54%; /* même taille que les étiquettes */
}

.btn {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}

.Maps{
  margin: 0 auto;
  padding: 1em;
  display: inline-block;
  text-align: right;
  margin-left: 31%;
}

.acces{
  text-align: center;
}

nav{
  text-align: center;
    border: solid;
    background-color: #c3423f;
    padding: 0,50%;
    display: flex;
justify-content: space-around;
height: 1.51%;
align-items: center;
}
 nav > a{
text-decoration: none;
color: white;
text-transform: uppercase;
background-color: black;
padding: 9px;
/*border-radius: 0,85%*/;
width: 6,26%;

/*border-radius: 17px*/;
width: 150px;

 }
.formulaire{
  margin-right: 105px;
}
nav > a:hover{
background: white;
color:black;
}

footer{
  background-color: #f7b538;
    /* position: fixed; */
    bottom: 0px;
    /* width: 1900px; */
    left: 0px;
    padding: 0.51%;
    margin-right: 0.50%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #f7b538;
    padding: 0.45%;
    border-radius: 17px;
    /* width: 124px; */
    argin-top: -1.95%;
}
div img{
   width: 8.51%;
   height: auto;
   margin-left: 0.50%;
   align-items: center;
 }
#lien_rs {
  width: 250px;
  display: flex;
  justify-content: space-around;
  margin-left: 830px;
}


div.button {
  margin-left: 68px;
  margin-top: 10px;
}
#btn-trad {
  width: 5%;
}

@media (max-width: 993px){
  nav {
    margin-left: 15px;
    margin-right: -515px;
    align-items: center;
  }
  h3{
    margin-left: 1.51%;
    margin-right: -5.8%;
    align-items: center;
    font-size: 13px;
    text-align: center;
  }
  .Maps{
    margin-left: 18.6%;
    margin-right: -11.46%;
    align-items: center;
  }
  .formulaire{
    margin-left: -0.25%;
    margin-right: -0.57%;
    align-items: center;
    margin-top: 0,95%;
  }
  footer {
    margin-left: -2px;
    margin-right: -1978px;
    margin-top: 371px;
  }
  #lien_rs{
    width: 12.6%;
    display: flex;
    justify-content: space-around;
    margin-left: 19,74%;
  }
  .trait img {
    max-width: 489px;
    z-index: 8;
    position: static;
    margin-left: 43px;
    visibility: hidden;
  }
  .question {
    text-align: center;
    margin-right: -816px;
    margin-top: -487px;
    font-size: 9px;
    margin-left: -24px;
    margin-bottom: 149px;
  }
}
